body {
    color: white;
    background: rgb(180, 85, 209);
     margin: 0px;
}

header {
    border-bottom: solid 2px rgb(156, 14, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(156, 255, 22);
}
